numpy==1.23.0
pandas==1.4.3
matplotlib==3.5.2
python-telegram-bot==13.13
dataframe-image==0.1.1
aiocoap
paho-mqtt
flask==2.0.3
flask-bootstrap==3.3.7.1.dev1
influxdb-client==1.30.0
jinja2==3.1.1
meteostat
requests
ntplib
pybase64
statsmodels
pmdarima
