{% extends 'base.html' %}

{% block styles1 %}
       h1 {
        text-align:center;
       }
{% endblock %}


{% block title %}   ESP32  {% endblock %}

{% block inner %}


{% for message in list_values %}
        <div class='message'>
            <p>Device : {{ message['Device'] }}</p>
            <p>lat : {{ message['GPS'][0] }}</p>
            <p>long : {{ message['GPS'][1] }}</p>
            <p>RSSI : {{ message['RSSI'] }}</p>
            <p>Temperature : {{ message['Temperature'] }}</p>
            <p>Humidity : {{ message['Humidity'] }}</p>
            <p>Gas: {{ message['Gas'] }}</p>
            <p>AQI : {{ message['AQI'] }}</p>
        </div>
    {% endfor %}



{% endblock %}