{% extends 'base.html' %}

{% block styles1 %}
       h1 {
        text-align:center;
       }
{% endblock %}


{% block title %}   Set Parameters  {% endblock %}

{% block inner %}


    <div class="content">
        {% for M in get_flashed_messages() %}
            <div class="alert">{{ M }}</div>
        {% endfor %}


  
<!--
<div class="container">
 
    <form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-4 control-label">Season</label>
        <div class="col-sm-8">
            <label class="radio-inline"> <input type="radio" name="season" id="seasonSummer" value="summer" checked> Summer </label>
            <label class="radio-inline"> <input type="radio" name="season" id="seasonWinter" value="winter"> Winter </label>
            <label class="radio-inline"> <input type="radio" name="season" id="seasonSpringFall" value="spring-fall" disabled> Spring-Fall </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Clouds</label>
        <div class="col-sm-8">
            <label class="radio-inline"> <input type="radio" name="clouds" id="Clear" value="clear" checked> Clear </label>
            <label class="radio-inline"> <input type="radio" name="clouds" id="Cloudy" value="cloudy"> Cloudy </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Load Forecast</label>
        <div class="col-sm-8">
            <div class="radio">
                <label> <input type="radio" name="load" id="WeekdayAverage" value="weekdayaverage" checked> Weekday - Average </label>
            </div>
            <div class="radio">
                <label> <input type="radio" name="load" id="WeekdayPeak" value="weekdaypeak"> Weekday - Peak </label>
            </div>
            <div class="radio">
                <label> <input type="radio" name="load" id="Weekend" value="weekend" disabled> Weekend </label>
            </div>
        </div>
    </div>

    </form>
</div>
-->

<form  method="post">

  <div class="form-group">
    <label for="sample_frequency">FREQUENCY</label>
    <input type="text" class="form-control" name="sample_frequency" placeholder="5000" value="{{ request.form['sample_frequency'] }}"></input>
  </div>


  <div class="form-group">
    <label for="min_gas_value">MIN GAS VALUE</label>
    <input type="text" class="form-control" name="min_gas_value" placeholder="0"value="{{ request.form['min_gas_value'] }}"></input>
  </div>

    <div class="form-group">
    <label for="max_gas_value">MAX GAS VALUE</label>
    <input type="text" class="form-control" name="max_gas_value" placeholder="10000"value="{{ request.form['max_gas_value'] }}"></input>
  </div>

<!--
<div class="form-group">
    <label for="protocol">PROTOCOL</label>
    <input type="text" class="form-control" name="protocol" placeholder="0: HTTP / 1: CoAP / 2: MQTT" value="{{ request.form['protocol'] }}"></input>
  </div>
-->

  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><b>PROTOCOL</b></span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in prot %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
    </div> 
  </div>


  <button type="submit" class="btn btn-primary">Update Parameters</button>
</form>


   
{% endblock %}