{% extends 'base.html' %}

{% block styles1 %}

{% endblock %}


{% block title %} SET ESP32 PARAMETERS {% endblock %}

{% block inner %}
<hr>
<div class="content">
  {% with messages = get_flashed_messages(with_categories=true)%}
  {% for C,M in messages %}
  <div class="{{ C }}">{{ M }}</div>
  {% endfor %}
  {% endwith%}


</div>


{% block scripts1 %}
<script type="text/javascript">
  //total_configs  
  function setPlaceHolder(selectObject, total_configs) {

    var user_id = selectObject.value;
    var protocol = "HTTP";

    /*
    if (String(total_configs[user_id]["protocol"]).localeCompare("1") == 0)
      protocol = "COAP";
    else if (String(total_configs[user_id]["protocol"]).localeCompare("2") == 0)
      protocol = "MQTT";

    */
    /*
    if (total_configs[user_id]["protocol"] == "1")
      protocol = "COAP";
    else if (total_configs[user_id]["protocol"] == "2")
      protocol = "MQTT";
    */

    protocol = total_configs[user_id]["protocol"]
    $('input[name="sample_frequency"]').attr("placeholder", total_configs[user_id]["sample_frequency"]);
    $('input[name="min_gas_value"]').attr("placeholder", total_configs[user_id]["min_gas_value"]);
    $('input[name="max_gas_value"]').attr("placeholder", total_configs[user_id]["max_gas_value"]);
    $('select[name="comp_select"]').val(protocol).change();
  }
</script>
{% endblock%}

<form method="post">

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><b>DEVICE</b></span>
      <select name="DeviceId" class="selectpicker form-control"
        onchange="setPlaceHolder(this, {{ data['total_configs']|tojson }});">
        {% for device in data["devices"] %}
        <option value="{{ device }}">{{ device }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="sample_frequency">FREQUENCY</label>
    <input type="text" class="form-control" name="sample_frequency"
      placeholder="{{ data['config']['sample_frequency'] }}" value="{{ request.form['sample_frequency'] }}"></input>
  </div>


  <div class="form-group">
    <label for="min_gas_value">MIN GAS VALUE</label>
    <input type="text" class="form-control" name="min_gas_value" placeholder="{{ data['config']['min_gas_value'] }}"
      value="{{ request.form['min_gas_value'] }}"></input>
  </div>

  <div class="form-group">
    <label for="max_gas_value">MAX GAS VALUE</label>
    <input type="text" class="form-control" name="max_gas_value" placeholder="{{ data['config']['max_gas_value'] }}"
      value="{{ request.form['max_gas_value'] }}"></input>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><b>PROTOCOL</b></span>
      <select name="comp_select" class="selectpicker form-control">
        {% for protocol in data["protocols"] %}
        <option value="{{ protocol }}">{{ protocol }}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Update Parameters</button>
</form>


{% endblock %}