
<!--

{% for key, values in messages.items() %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{key}}</th>
        </tr>
      </thead>

  {% for k,v in values.items() %}


      <tbody>
        <tr>
          <th scope="row">{{k}}:{{v}}</th>
        </tr>
      </tbody>


  {% endfor %}
    </table>
{% endfor %}
-->


{% if messages.values()|length >0 %}

<table class="table table-hover table-bordered ">
  <thead class="thead-dark">
    <tr>
    <td/>


{% with key = messages.values()|first %}
  {% for k in key %}

      <th>{{k}}</th>
{% endfor %}

{% endwith %}
    </tr>
  </thead>

{% for key, values in messages.items() %}
  <tr>
  <th>{{key}}</th>
 {% for k,v in values.items() %}

  <td>{{v|round(2)}}</td>

  {% endfor %}
</tr>
{% endfor %}

</table>
{% endif %}

<!--

<table >
          <tr>
            <td/>
            <th>Object 1 (classA)</th>
            <th>Object 2 (classA)</th>
            </tr>
          <tr>
            <th>Object 1 (classA)</th>
            <td>value1</td>
            <td>value2</td>
            </tr>
          <tr>
              <th>Object 2 (classA)</th>
            <td>value2</td>
            <td>value1</td>
            </tr>
</table>







<table class="table">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Savings</th>
    <th>aff</th>
  </tr>

  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
      <td>$100</td>
  </tr>

  <tr>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
      <td>$100</td>
  </tr>

  <tr>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
      <td>$100</td>
  </tr>

  <tr>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
      <td>$100</td>
  </tr>

</table>

-->